package tag

import "github.com/pnmcosta/csta.dev/internal/posts"
import "github.com/pnmcosta/csta.dev/internal/templates/layout"
import "github.com/pnmcosta/csta.dev/internal/templates/post"

templ View(tag string, posts []*posts.Post) {
	@layout.Base() {
		if len(posts) > 0 {
			<h1 class="text-xl">Posts tagged "{ tag }"</h1>
			<ul class="list-disc list-inside">
				for _, p := range posts {
					<li>
							@post.Link(p)
					</li>
				}
			</ul>
		}
	}
}
