package tag

import "github.com/pnmcosta/csta.dev/internal/posts"
import "github.com/pnmcosta/csta.dev/internal/templates/layout"
import "github.com/pnmcosta/csta.dev/internal/templates/post"

templ View(tag string, posts []*posts.Post) {
	@layout.Base() {
		if len(posts) > 0 {
			<h1>{ tag } Posts</h1>
			<p>
				for i, p := range posts {
					if i >0 {
						;
					}
					@post.Link(p)
				}
			</p>
		}
	}
}
